.container {
  padding-top: 20px 40px;
  width: 90%;
  margin: 0 auto;
  height: 600px;
}

.header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.item {
  flex: 1;
}

.source {
  margin: 20px;
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: end;
}

.title {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #333;
  color: white;
}

@media only screen and (max-width: 880px) {
  .container {
    padding: 0px;
    width: 99%;
    margin: 0 auto;
    height: 440px;
  }

  .header {
    padding-top: 10px;
  }

  .item {
    flex: 1;
    margin: 0px;
    padding: 0px;
  }

  .title {
    padding: 8px;
  }
}
